_format_version: "3.0"
_info:
  defaults: {}
  select_tags:
    {% for tag in select_tags %}
     - {{ tag }}
    {% endfor %}
_konnect:
  runtime_group_name: {{ konnect_runtime_group }}
services:
{% for service in services %}
- connect_timeout: 60000
  enabled: true
  host: {{ service.host }}
  name: mockbin_{{ konnect_runtime_group }}
  path: {{ service.path }}
  port: 80
  protocol: http
  read_timeout: 60000
  retries: 5
  routes:
  {% for route in service.routes %}
  - name: mockbin
    hosts:
    {% for host in route.hosts %}
     - {{ host }}
    {% endfor %}
    https_redirect_status_code: 426
    {# id: 7f6cf12f-26fd-44c4-be13-b4e523b88d23 #}
    path_handling: v0
    paths:
    {% for path in route.paths %}
     - {{ path }}
    {% endfor %}
    plugins:
    - config:
        anonymous: null
        hide_credentials: false
      enabled: true
      name: basic-auth
      protocols:
      - grpc
      - grpcs
      - http
      - https
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 0
    snis:
    {% for sni in route.snis %}
     - {{ sni }}
    {% endfor %}
    strip_path: true
  tags:
  - {{ service.service_name }}_{{ konnect_runtime_group }}
  - _KonnectService:{{ service.service_name }}
  write_timeout: 60000
  {% endfor %}
{% endfor %}